---
import siteConfig from '../data/site-config';
---

<header class="w-full max-w-5xl mx-auto mb-12 sm:mb-16">
    <h1 class="text-5xl font-serif leading-tight font-medium">
        {siteConfig.title}
    </h1>
    <h2 class="text-3xl font-serif italic leading-tight font-medium py-4">
        {siteConfig.subtitle}
    </h2>
</header>
